<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>后台管理</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>

<!-- 导航 -->
<nav class="ui inverted segment m-padded-td-mini">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header">Angleong</h2>
            <a href="#" class="item"><i class="home icon"></i>博客</a>
            <a href="#" class="item"><i class="idea icon"></i>分类</a>
            <a href="#" class="item"><i class="tags icon"></i>标签</a>
            
            <div class="right menu">
                <div class="ui dropdown item">
                    <div class="text">
                        <img src="https://unsplash.it/100/100?image=1005" alt="" class="ui avatar image">
                        Angelong
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">注销</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</nav>

<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" class="ui teal item">发布</a>
            <a href="#" class="ui teal active item">列表</a>
        </div>
    </div>
</div>

<!-- 中间部分 -->
<div class="m-container-small m-padded-tb-large">
    <div class="ui container">
        <form action="#" method="POST" class="ui segment form">
            <div class="inline fields">
                <div class="field">
                    <input type="text" name="title" placeholder="标题">
                </div>
                <div class="field">
                    <div class="ui selection dropdown">
                        <input type="hidden" name="type">
                        <i class="dropdown icon"></i>
                        <div class="default text">分类</div>
                        <div class="menu">
                            <div class="item" data-value="1">日志错误</div>
                            <div class="item" data-value="2">开发手册</div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="recommend" name="recommend">
                        <label for="recommend">推荐</label>
                    </div>
                </div>
                <div class="field">
                    <button class="ui mini teal button"><i class="search icon"></i>搜索</button>
                </div>
            </div>
        </form>

        <table class="ui table">
            <thead>
                <tr>
                    <th></th>
                    <th>标题</th>
                    <th>类型</th>
                    <th>推荐</th>
                    <th>更新时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>刻意练习清单</td>
                    <td>认知升级</td>
                    <td>是</td>
                    <td>2019-10-10 10:10</td>
                    <td>
                        <a href="#" class="ui mini teal button">编辑</a>
                        <a href="#" class="ui mini red button">删除</a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="6">
                        <div class="ui pagination menu">
                            <a href="#" class="item">上一页</a>
                            <a href="#" class="item">下一页</a>
                        </div>
                        <a href="#" class="ui mini right floated teal basic button">新增</a>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>    

<br>
<br>
<br>

<!-- 底部 -->
<footer class="ui inverted segment" m-padded-tb-massive>
    <div class="ui center aligned container">
        <dig class="ui inverted divided grid">
            <div class="three wide column">
                <img src="../../static/images/wechat.jpg" class="ui rounded image">
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email:2691827911@qq.com</a>
                    <a href="#" class="item">QQ:2691827911</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">Blog</h4>
                <p>这是我的个人博客，用于学习、交流和复习;我会分享关于我学习的路程和学习笔记，记录每一天的进步。</p>
            </div>
        </dig>
        <div class="ui inverted section divider"></div>
        <p>Copyright @ 2019-2020 Angelong Designed by Angelong</p>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>



    <script>
        $('.ui.dropdown').dropdown({
            on:'hover'
        });
    </script>

</body>
</html>